<mat-nav-list>
    <div class="profile-card">
        <div class="profile-header">
            <h2>Shooting Star</h2>
            <h4>shrek@dreamworks.com</h4>
        </div>
        <img src="https://sun9-53.userapi.com/impg/zHABNSl7HEA0sA1MF8i6GxA9IWf2y4kFZpQ8Sw/-arF-jRdD_A.jpg?size=1306x1306&quality=95&sign=e430dfb4207b75e3843114a713319365&c_uniq_tag=8O-yb5G-R567GJ9ua33mZ4JdMvAw0HaAUtYaCyRVvso&type=album" alt="Shooting Star">
    </div>

    <mat-divider></mat-divider>
    
    <h2 matSubheader>Pages</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Articles</a>
    
    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/leads">
        <mat-icon>import_contacts</mat-icon>
        Leads
    </a>
</mat-nav-list>